spring.application.name=expense_tracker

spring.main.banner-mode=off

# PostgreSQL Connection Properties
spring.datasource.url=jdbc:postgresql://localhost:5432/expense_tracker
spring.datasource.username=my_username
spring.datasource.password=my_password

# JPA/Hibernate Properties
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true


